<a href="https://colab.research.google.com/github/mehdi-tahan/Dataroadmap/blob/main/Pathrise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
df = pd.read_excel('/content/sample_data/Data_Pathrise.xlsx')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [31]:
df['employment_status '].value_counts()

Student               775
Unemployed            665
Employed Full-Time    435
Employed Part-Time    270
Contractor            170
Name: employment_status , dtype: int64

In [32]:
df['employment_status '].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2539    False
2540     True
2541    False
2542     True
2543    False
Name: employment_status , Length: 2544, dtype: bool

In [33]:
nan_count = df['employment_status '].isnull().sum()
print(nan_count)

229

In [34]:
threshold = 3

In [35]:
df_more_than_threshold = df[df.isnull().sum(axis='columns') > threshold]

print(df_more_than_threshold)

        id     pathrise_status primary_track cohort_tag  \
112    113           Withdrawn           SWE     SEP18B
209    210           Withdrawn        Design     JUL19B
456    457           Withdrawn        Design     JUL19B
563    564              Active           SWE     JUN19A
1354  1355               Break           SWE     OCT18A
1386  1387              Active           PSO     APR18A
1413  1414              Active           SWE     NOV18A
1457  1458         Closed Lost           SWE     OCT18A
1777  1778              Active           SWE     JUN19A
1861  1862              Active           PSO     OCT19A
1878  1879              Active        Design     AUG19C
2012  2013              Active           SWE     AUG19B
2194  2195           Withdrawn           SWE     OCT18B
2277  2278              Active           SWE     OCT19A
2321  2322              Active           SWE     SEP18B
2354  2355  Withdrawn (Failed)           SWE     SEP19B
2416  2417              Placed           PSO     MAR19B

      program_duration_days  placed  employment_status   \
112                   296.0       0                 NaN
209                    31.0       0             Student
456                   199.0       0                 NaN
563                     NaN       0          Unemployed
1354                    NaN       0  Employed Full-Time
1386                    NaN       0                 NaN
1413                    NaN       0  Employed Full-Time
1457                    0.0       0                 NaN
1777                    NaN       0             Student
1861                    NaN       0  Employed Part-Time
1878                    NaN       0                 NaN
2012                    NaN       0          Contractor
2194                  208.0       0  Employed Full-Time
2277                    NaN       0          Unemployed
2321                    NaN       0             Student
2354                  407.0       0          Unemployed
2416                  311.0       1             Student

            highest_level_of_education length_of_job_search  \
112                    Master's Degree   6 months to a year
209                  Bachelor's Degree          Over a year
456                                NaN                  NaN
563                  Bachelor's Degree           1-2 months
1354                 Bachelor's Degree           1-2 months
1386                 Bachelor's Degree           1-2 months
1413                               NaN           1-2 months
1457                 Bachelor's Degree                  NaN
1777                 Bachelor's Degree  Less than one month
1861  Doctorate or Professional Degree                  NaN
1878                 Bachelor's Degree           3-5 months
2012                 Bachelor's Degree  Less than one month
2194                 Bachelor's Degree           3-5 months
2277                               NaN           3-5 months
2321                   Master's Degree  Less than one month
2354                 Bachelor's Degree  Less than one month
2416  Doctorate or Professional Degree                  NaN

               biggest_challenge_in_search professional_experience  \
112        Hearing back on my applications                     NaN
209        Hearing back on my applications                     NaN
456    Getting past final round interviews               1-2 years
563        Hearing back on my applications                     NaN
1354  Figuring out which jobs to apply for                     NaN
1386           Lack of relevant experience                     NaN
1413   Getting past final round interviews               3-4 years
1457           Lack of relevant experience                5+ years
1777                Technical interviewing                     NaN
1861       Hearing back on my applications               1-2 years
1878       Hearing back on my applications               1-2 years
2012                                   NaN                     NaN
2194                                   NaN                     NaN
2277                Technical interviewing                     NaN
2321                Technical interviewing                     NaN
2354       Hearing back on my applications                     NaN
2416  Figuring out which jobs to apply for                     NaN

     work_authorization_status  number_of_interviews  number_of_applications  \
112                        NaN                   3.0                      15
209                        NaN                   NaN                       0
456                        NaN                   3.0                       2
563                        NaN                   0.0                     180
1354                       NaN                   0.0                      25
1386               F1 Visa/OPT                   0.0                      25
1413                   Citizen                   NaN                      30
1457                       NaN                   4.0                      60
1777                       NaN                   1.0                      10
1861                       NaN                   1.0                       1
1878                       NaN                   2.0                      40
2012                   Citizen                   0.0                      70
2194                       NaN                   0.0                      25
2277                   Citizen                   0.0                      60
2321                       NaN                   6.0                      25
2354                       NaN                   NaN                      15
2416                   Citizen                   5.0                       5

      gender                                 race
112      NaN       South Asian or Indian American
209      NaN         East Asian or Asian American
456   Female  Non-Hispanic White or Euro-American
563      NaN  Non-Hispanic White or Euro-American
1354     NaN         East Asian or Asian American
1386     NaN         East Asian or Asian American
1413     NaN       South Asian or Indian American
1457     NaN         East Asian or Asian American
1777     NaN       South Asian or Indian American
1861     NaN  Non-Hispanic White or Euro-American
1878     NaN         East Asian or Asian American
2012     NaN  Non-Hispanic White or Euro-American
2194     NaN         East Asian or Asian American
2277     NaN  Non-Hispanic White or Euro-American
2321     NaN         East Asian or Asian American
2354     NaN         East Asian or Asian American
2416     NaN                                  NaN

In [36]:
rows_to_drop = df[df.isnull().sum(axis='columns') > threshold].index
print(rows_to_drop)

Int64Index([ 112,  209,  456,  563, 1354, 1386, 1413, 1457, 1777, 1861, 1878,
            2012, 2194, 2277, 2321, 2354, 2416],
           dtype='int64')

In [37]:
df.drop(rows_to_drop, inplace=True)
print(df)

        id     pathrise_status primary_track cohort_tag  \
0        1              Active           SWE     OCT19A
1        2              Active           PSO     JAN20A
2        3         Closed Lost        Design     AUG19B
3        4         Closed Lost           PSO     AUG19B
4        5              Placed           SWE     AUG19A
...    ...                 ...           ...        ...
2539  2540  Withdrawn (Failed)        Design     JUN18A
2540  2541  Withdrawn (Failed)          Data     JAN19B
2541  2542              Active           SWE     SEP18C
2542  2543              Active           SWE     MAY18A
2543  2544           Withdrawn           SWE     OCT19A

      program_duration_days  placed  employment_status   \
0                       NaN       0          Unemployed
1                       NaN       0          Unemployed
2                       0.0       0  Employed Part-Time
3                       0.0       0          Contractor
4                      89.0       1          Unemployed
...                     ...     ...                 ...
2539                  457.0       0          Contractor
2540                  488.0       0                 NaN
2541                    NaN       0          Contractor
2542                    NaN       0                 NaN
2543                  285.0       0             Student

     highest_level_of_education length_of_job_search  \
0             Bachelor's Degree           3-5 months
1       Some College, No Degree           3-5 months
2               Master's Degree  Less than one month
3             Bachelor's Degree  Less than one month
4             Bachelor's Degree           1-2 months
...                         ...                  ...
2539            Master's Degree   6 months to a year
2540            Master's Degree           3-5 months
2541          Bachelor's Degree  Less than one month
2542            Master's Degree  Less than one month
2543            Master's Degree           1-2 months

               biggest_challenge_in_search professional_experience  \
0          Hearing back on my applications               3-4 years
1      Getting past final round interviews               1-2 years
2     Figuring out which jobs to apply for      Less than one year
3      Getting past final round interviews      Less than one year
4          Hearing back on my applications               1-2 years
...                                    ...                     ...
2539                Technical interviewing                5+ years
2540       Hearing back on my applications               1-2 years
2541                Technical interviewing               1-2 years
2542                Technical interviewing               1-2 years
2543       Hearing back on my applications               1-2 years

     work_authorization_status  number_of_interviews  number_of_applications  \
0               Canada Citizen                   2.0                     900
1                      Citizen                   6.0                       0
2                      Citizen                   0.0                       0
3                      Citizen                   5.0                      25
4                  F1 Visa/OPT                  10.0                     100
...                        ...                   ...                     ...
2539                   Citizen                   4.0                      15
2540               F1 Visa/OPT                   1.0                       7
2541                   Citizen                   1.0                      30
2542                   Citizen                   2.0                      10
2543                Green Card                   3.0                      70

      gender                                 race
0       Male  Non-Hispanic White or Euro-American
1       Male  Non-Hispanic White or Euro-American
2       Male         East Asian or Asian American
3       Male             Decline to Self Identify
4       Male         East Asian or Asian American
...      ...                                  ...
2539    Male  Non-Hispanic White or Euro-American
2540    Male  Non-Hispanic White or Euro-American
2541  Female  Non-Hispanic White or Euro-American
2542    Male             Decline to Self Identify
2543    Male  Non-Hispanic White or Euro-American

[2527 rows x 16 columns]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2527 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2527 non-null   int64
 1   pathrise_status              2527 non-null   object
 2   primary_track                2527 non-null   object
 3   cohort_tag                   2519 non-null   object
 4   program_duration_days        1921 non-null   float64
 5   placed                       2527 non-null   int64
 6   employment_status            2303 non-null   object
 7   highest_level_of_education   2472 non-null   object
 8   length_of_job_search         2457 non-null   object
 9   biggest_challenge_in_search  2505 non-null   object
 10  professional_experience      2317 non-null   object
 11  work_authorization_status    2255 non-null   object
 12  number_of_interviews         2312 non-null   float64
 13  number_of_applications       2527 non-null   int64
 14  gender                       2051 non-null   object
 15  race                         2510 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 335.6+ KB